.section{
background-image: url(./Welcome.png);
}
.wrapper{
    max-width: 1440px;
    padding-top:220px ;
    padding-bottom: 160px;
}
.block{
    background: #000;
    padding: 35px 120px;
    width: max-content;

}
.title{
    font-family: var(--second-family);
font-weight: 400;
font-size: 40px;
line-height: 125%;
letter-spacing: 0.07em;
text-transform: uppercase;
text-align: center;
color: #fff;
}