.profile{
    position: absolute;
    top: 65px;
    right: 50px;
    max-height: 115px;
    background-color: #ffffff;
    padding: 5px 10px 23px;

    display: flex;
    flex-direction: column;
    align-items: center;

}
.profileBefore{
    border: 1px solid #bb945f;
width: 40px;
height: 0px;
margin: 5px 0 12px; 

}
.title{
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 15px;
    line-height: 133%;
    color: #000;
}
.profileBottom{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
button{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 15px;
    line-height: 133%;
    /* text-align: center; */
    color: #000;
}